/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;700&display=swap');

/* Variables */

:root {
    --color-primary: #f1f1f1;
    --color-secondary: #333;
    --color-tertiary: #790000;
    --navbar-bg: rgba(120, 0, 0, 0.7);
    --transition-default: ease-in-out 0.5s;
    --spacing-default: 1em;
    --image-size: 350px;
    --background-color: #003049;
}

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--color-primary);
}

body a {
    text-decoration: none;
    color: var(--color-primary);
    transition: var(--transition-default);
}

body a:hover {
    color: var(--color-tertiary);
}

/* Typography */

h1 {
    font-family: 'Bebas Neue', cursive;
}

/* Navbar */

.navbar-menu {
    padding: var(--spacing-default);
    background-color: var(--navbar-bg);
    width: 100vw;
}

.navbar-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.navbar-menu li {
    list-style: none;
    text-transform: uppercase;
}

.navbar-menu a {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 700;
    transition: var(--transition-default);
}

.navbar-menu a:hover {
    color: var(--color-secondary);
}

/* Images */

img {
    width: var(--image-size);
    height: var(--image-size);
    object-fit: cover;
}

/* Buttons */

.btn {
    padding: 5px;
    cursor: pointer;
    color: #333;
}

/* Main */

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

aside {
    width: 50vw;
}

/* Films */

section  {
    display: flex;
    width: 50vw;
}

.film-info {
    margin: 20px;
    display: flex;
    gap: 20px;
}

.film-bio {
    margin: 0 20px 20px;
}

.film-details h3 {
    font-family: "Bebas Neue";
    font-size: 60px;
}

.picture-container {
    margin-left: 20px;
}

.film-picture {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.modification {
    display: flex;
    justify-content: center;
}

/* Persons */

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

/* Details aside display */

.info-display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.display-card {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.display-card p {
    font-size: 12px;
}

/* Modification */

.modif-block {
    border: 2px dotted white;
    padding: 5px;
}
