* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    border: 1px solid black;
    width: 100vw;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

nav li {
    list-style: none;
}

/* IMAGES */

img {
    width: 350px;
    height: 350px;
}